.list-container {
  max-width: 100%;
  //.left-column {
  //  background-color: bisque;
  //}

  //.right-column {
  //  min-width: 300px;
    padding: 2%;

    .cardListItem {
      min-width: 300px;
      margin-bottom: 10px;

      .good-card-photo{
        margin-right: 2%;
      }
    //}
    .spacer{
      height: 80%;
    }
    .cardListItem:last-child {
      margin-right: 30px;
    }
  }
}
//mat-grid-list{
//  background-color: #dce0ff;
//
//}
//.example-spacer {
//  flex: 1 1 auto;
//}
//.img-card{
//  display: flex;
//  width: 30%;
//  height: auto;
//}
//.about-card{
//  width: 60%;
//  height: auto;
//}
//.title-card{
//  font-size: 12px;
//}
//
//.example-header-image {
//  background-size: cover;
//}
