.header{
  //height: 100px;
  //background-color: #666699;
}
.container{
  height:  auto;
  background-color: #F6C6CE;
  min-width: 600px;
}
.footer{
  height: 100px;
  background-color: lightskyblue;
}

