<!--<app-header fxLayout="row"></app-header>-->
<!--<mat-divider></mat-divider>-->
<!--<app-goods-list fxLayout="row"></app-goods-list>-->


<div class="header" ></div>
  <app-header fxLayout="row"></app-header>
<!--<div class="container" fxLayout="column">-->
  <router-outlet></router-outlet>
<!--  <app-goods-list></app-goods-list>-->
<!--</div>-->
<div class="footer" fxLayout="row"></div>
<!--<app-good-item></app-good-item>-->
